#gr_quote_body, #gr_quote_body a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.1;
  color: #404040;
  text-decoration: none;
}